:root {
    --main-color: #4CAF50;
    --second-color: #F5F5DC;

}

h1,
h2,
h3,
h4 {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

