:root {
    --main-color: #4CAF50;
    --second-color: #F5F5DC;
    --third-color: #FFFFFF;
    --color-textes: #333333;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 24px;
    color: var(--main-color);
}

body {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 24px;
    background-color: var(--second-color);
    margin: 0;
}
ul{
    padding-left: 0;
}

.button {
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--third-color);
    display: inline-block;
    padding: 5px 10px;
    border: darkgreen;
    border-radius: 1px;
    transition: transform 0.3s ease;
}

.button:hover {
    background-color: var(--color-textes);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}