/*Здесь находится секция карты и координат*/
.coordonnees{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.coordonnees-div{
    margin-right: 20px;
    width: 50%;
}
.coordonnees-title{
    font-size: 40px;
}
.coordonnees-ul{
    color: brown;
    list-style-type: none;
    padding: 0;
}
.coordonnees-li{
    list-style-type: none;
    line-height: 200%;
}
.div-phone-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
    
.phone-icon {
    width: 100px;
    height: 100px;
    background: url('../assets/images/phone.png') no-repeat center center;
    background-size: contain;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.cart-div{
    margin-left: 10px;
    width: 50%;
}
.cart-title{
    display: flex;
    justify-content: center;
}
/*Здесь находится секция формуляра*/
.formulaire {
    background: url("../assets/images/forma.webp") center center / cover no-repeat ;
    /*background: var(--color-textes);*/
    padding: 10px;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;
    box-shadow: 9px 10px 13px -1px rgba(0, 0, 0, 0,48);
}
.formulaire-legend{  
    font-size: 30px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); 
}
.field {
    margin-bottom: 15;
    display: flex;
    flex-direction: column;
}
.field-label{
    color: var(--third-color);
}
.envoyer{
    display: flex;
    justify-content: center;
}