/*Здесь будет вся информация о секции банера*/
.banniere{
    /* background-image: url(/assets/images/banniere.jpg); */
    background: url("../assets/images/banniere") center center / cover no-repeat ;
    width: 100%;
    height: 450px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 h1{
    
    font-size: 46px;
    color: var(--third-color);
    margin: 0px;
 }
 h2{
    font-size: 35px;
 }
 /*Здесь находится информация о секции О нас*/
 .a-propos{
    display: flex;
    justify-content: space-between;
    margin: 20px;
 }
 .img-a-propos{
    width: 100%;
 }
 .div-a-propos{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .title-a-propos{
    display: flex;
    justify-content: center;
 }
 .texte-a-propos{
    text-align: justify;
 }
 /*Секция проживание*/
 .hebergements{
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .ul-hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; 
 }
 
.ul-hebergements div{
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}
.ul-hebergements img{
    width: 100%;
    height: 421px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.title-hebergements{
    display: flex;
    justify-content: center;
}
.img-heberg{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.img-heberg:hover {
    transform: scale(1.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  .div-heberg{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/*Секция Свяжитесь с нами*/
.contactez-nous{
    background: url("/assets/images/banniere2.jpg") center center / cover no-repeat ;
    width: 100%;
    height: 450px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-contactez-nous{
    color: var(--second-color);
    font-size: 50px;
    background-color: black;
}
/*Секция отзывов*/
.title-avis{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.stars-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.stars-icon {
    width: 30px;
    height: 30px;
    background: url('../assets/images/Big-star.png') no-repeat center center;
    background-size: contain;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.all-avis{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.avis-card{
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.stars {
    color: gold;
}
.nom-avis{
    text-decoration: underline overline var(--main-color);
    color: brown;
    font-size: 30px;
}
.prenom{
    color: brown;
}