/*Здесь будет информация о заглавном колонтитуле страницы*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: url("../images/header.webp") center center / cover no-repeat ;
}
/*Здесь будет информация о Меню*/
.navbar {
    padding: 10px 20px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: var(--color-textes);
    text-decoration: none;
    font-size: 18px;
}
/*Здесь будет информация о логотипе*/
.logo{
    width: 100px;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

/*Здесь будет отображатся информация о нижнем колонтитуле*/
.footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--third-color);
    margin: 20px 0px 0px 0px;
}
.footer a{
    line-height: 200%;
}
.logo-footer{
    display: flex;
    flex-direction: column;
}
.img-logo-footer{
    width: 150px;
}
.socio-footer img{
    width: 45px;
}
.coord-footer{
    display: flex;
    flex-direction: column;
}
.coord-footer a{
    text-decoration: none;
    color: var(--color-textes);
}
.title-footer-a{
    text-decoration: none;
    color: var(--color-textes);
}
.title-footer-ul{
    list-style: none;
}